In [2]:
import numpy as np
import pandas as pd

In [3]:
raw_df = pd.read_csv('project_data_classA_group_3.csv', header = 0)
raw_df.rename(columns = {'SKUs': 'Customer'}, inplace=True)

In [5]:
df_sku = raw_df.loc[0:1, :]
cus_df = raw_df.loc[2:, :]
cus_df.reset_index(drop = True, inplace = True)

In [6]:
sku_sales = cus_df.iloc[:, 1:].sum().rename('Sales')
sku_sales = sku_sales.to_frame()
df_sales = pd.concat([df_sku.iloc[0:2, :], sku_sales.T])
df_sales.reset_index(drop = True, inplace = True)
df_sales.iloc[2, 0] = 'Sales'

In [7]:
wtp = pd.DataFrame(columns = ['Customer', 'WTP'])
for i in cus_df.columns[1:]:
    cus_df.loc[cus_df[i] == 1, 'WTP'] = df_sku.loc[1, i]
    wtp_df = pd.concat([cus_df[cus_df[i] == 1]['Customer'], cus_df[cus_df[i] == 1]['WTP']], axis=1)
    wtp = pd.concat([wtp, wtp_df], axis=0)
nopurchase = cus_df[cus_df.iloc[:, 1:].sum(axis = 1) == 0]['Customer']
nopurchase = nopurchase.to_frame()
nopurchase['WTP'] = 0
wtp = pd.concat([wtp, nopurchase], axis=0)
wtp.sort_index(inplace = True)
wtp.reset_index(drop = True, inplace = True)

C:\Users\15635\AppData\Local\Temp\ipykernel_12480\423339138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cus_df.loc[cus_df[i] == 1, 'WTP'] = df_sku.loc[1, i]
C:\Users\15635\AppData\Local\Temp\ipykernel_12480\423339138.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  wtp = pd.concat([wtp, wtp_df], axis=0)

In [8]:
df_sales.set_index('Customer', inplace = True, drop = True)

In [9]:
df_sales

               A3_1  A3_2  A3_3  A3_4  A3_5  A3_6  A3_7  A3_8  A3_9  A3_10
Customer
Cost            5.0   6.0   7.0   8.0   6.0   2.0   8.0   5.0  15.0    7.0
Initial Price   6.0   7.2   8.4   9.6   7.2   2.4   9.6   6.0  18.0    8.4
Sales           2.0  16.0   7.0   3.0  10.0   4.0   6.0  19.0  11.0   12.0

In [10]:
wtp

       Customer   WTP
0     customer1   9.6
1     customer2   6.0
2     customer3  18.0
3     customer4   8.4
4     customer5   9.6
..          ...   ...
95   customer96   9.6
96   customer97  18.0
97   customer98   7.2
98   customer99   6.0
99  customer100   9.6

[100 rows x 2 columns]